body {
    text-decoration: none;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}
.input {
    display: flex;
    justify-content: center;
}

.inProgress {
    color: #333;
    padding: 10px;
}

.done {
    text-decoration: line-through;
    color: #a79c9c;
}

.list {
    width: 90%;
}

.listItem {
    width: 300px;
    display: flex;
    justify-content: space-between
}