body {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.input {
    width: 90%;
    margin: 8px;
}
.input_button{
    width: 100%;

}

.inProgress {
    color: #333;
    padding: 10px;
}

.done {
    text-decoration: line-through;
    color: #a79c9c;
}

.list {
    width: 90%;
}

.listItem {
    width: 300px;
    display: flex;
    justify-content: space-between
}

.delete {
    padding: 5px;
    width: 32px;
}